*{
    margin: 0 auto;
    box-sizing:border-box;
}

body{
/*

border:1px solid red;
background: url(img/choi.jpg);
background-size: cover;
background-repeat: no-repeat;
font-family: sans-serif;
*/
width: 100%;
height: 755px;
background-color: beige;
background-image: url(img/synergy.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

.loginbox{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
width: 350px;
height:550px;
padding: 80px 40px;
background:rgba(0,0,0,0.5);
}

.user
{
width:100px;
height:100px;
border-radius:50%;
overflow: hidden;
position: absolute;
top: calc(-100px/2);
left: calc(50% - 50px);
}

h2{
margin:0;
padding: 0 0 20px;
color: #efed40;
text-align: center;
}

.loginbox p{
margin:0;
padding: 0;
font-weight: bold;
color: #fff;

}

.loginbox input{
width:100%;
margin-bottom:20px;
}

.loginbox input[type="text"],
.loginbox input[type="password"]
{
border: none;
border-bottom:1px solid #fff;
background: transparent;
outline: none;
height:40px;
color:#fff;
font-size:16px;
}

::placeholder
{
color: rgba(255, 255, 255, 0.5);
}

.loginbox input[type="submit"]
{
border: none;
outline: none;
height:40px;
color: #fff;
font-size:16px;
background:gray;
cursor: pointer;
border-radius:20px;
margin-top:10px;
}
#logtextarea
{
border: 1px solid white;
outline: none;
height:70px;
color: #fff;
font-size:16px;
background:none;
padding: 4px 0px 0px 4px;
font-weight:bold;
width:100%;
}
.loginbox input[type="submit"]:hover
{
background:white;
color:black;
}
